extends ../dashboardLayout

block sub-content
    h1.pb-md-4 Edit Project
    div.row
        if errors
            ul.error
                li #{errors[0].msg}
    div.pt-sm-2
        form.col-md-12.offset-md-0(method='post', action='/admin/project/edit/' + project._id, enctype='multipart/form-data')
            div.row
                div.col-md-6
                    div.float-left.ml-1
                        label French Content :
                    div.justify-content-center
                        .form-group
                            input.form-control(name='titleFR', type='text', placeholder='Enter Title', value=project.fr.title, required)
                        .form-group
                            textarea.form-control(name='descriptionFR', rows='3', placeholder='Enter Description', required) #{project.fr.description}
                        .form-group
                            input.form-control(name='typeFR', type='text', placeholder='Enter Type', value=project.fr.type, required)
                div.col-md-6
                    div.float-left.ml-1
                        label English Content :
                    div.justify-content-center
                        .form-group
                            input.form-control(name='titleEN', type='text', placeholder='Enter Title', value=project.en.title, required)
                        .form-group
                            textarea.form-control(name='descriptionEN', rows='3', placeholder='Enter Description', required) #{project.en.description}
                        .form-group
                            input.form-control(name='typeEN', type='text', placeholder='Enter Type', value=project.en.type, required)
            div.row
                div.col-md-6
                    div.float-left.ml-1
                        label Category :
                    .form-group
                        select.form-control.dropdown(name='category', multiple, required)
                            option(selected disabled hidden) Choose Category
                            each category, i in categories
                                if project.category && project.category.toString().includes(category.name)
                                    option(selected) #{category.name}
                                else
                                    option #{category.name}
                div.col-md-6
                    div.row
                        div.col-md-6
                            div.float-left.ml-1
                                label Start Date :
                            .form-group
                                input.form-control(name='startDate', type='month', value=moment(project.period.start).format("YYYY-MM"), required)
                        div.col-md-6
                            div.float-left.ml-1
                                label Finish Date :
                            .form-group
                                input.form-control(name='finishDate', type='month', value=moment(project.period.finish).format("YYYY-MM"), required)
                    .form-group
                        input.form-control(name='repoGithub', type='text', placeholder='Enter Github repository link', value=project.repoGithub, required)
            .row
                .col-md-12
                    .form-group
                        a#fileSelect.btn.btn-info(style='color: white') Select Images
                        input#files.form-control-file(name='image', type='file', multiple = 'multiple', hidden='true')
            div#selectedFiles.row

            div.row.justify-content-center
                .form-group.mr-2
                    input.btn.btn-default(name='submit', type='submit', value='Submit')
                .form-group
                    a.btn.btn-danger(name='cancel', href='javascript:history.back()') Cancel

    script(src='/javascripts/admin/dashboard/jquery-3.3.1.min.js')
    script.
        (function ($) {
            "use strict";

            document.addEventListener("DOMContentLoaded", init, false);

            function init() {
                document.querySelector('#files').addEventListener('change', handleFileSelect, false);
            }

            function handleFileSelect(e) {
                if (!e.target.files || !window.FileReader) return;

                var files = Array.prototype.slice.call(e.target.files);

                $('#selectedFiles').html('');

                files.forEach(function (f) {
                    if (!f.type.match("image.*")) {
                        return;
                    }
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#selectedFiles').append('' +
                            '<div class="col-md-4"> ' +
                            '   <div class="card form-group" >' +
                            '      <img class="card-img-top" src="' + e.target.result + '"/>' +
                            '      <div class="card-body">' +
                            '           <p>' + f.name + '<br>(' + f.type + ')</p>' +
                            '           <p>' + (f.size > 1048576 ?
                                (Number(f.size / (1048576)).toFixed(1) + ' Mbytes') :
                                (Number(f.size / 1024).toFixed(1) + ' KBytes')) + ' - ' +
                            '           ' + (f.lastModifiedDate ? f.lastModifiedDate.toLocaleTimeString() +
                                ' ' + f.lastModifiedDate.toLocaleDateString() : 'n/a') + '</p>' +
                            '       </div>' +
                            '   </div>' +
                            '</div>');
                    };

                    reader.readAsDataURL(f);
                });

            }

            $(document).on('click', '#fileSelect', function (e) {
                $('#files').click();
                e.preventDefault();
                return false;
            });

        })(jQuery);
