extends ../dashboardLayout

block sub-content
    h1.pb-md-4 Projects List
    div.row
        if errors
            ul.error
                each error, i in errors
                    li #{error.msg}
    div.pt-sm-2
        div.table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Category
                        th(scope='col') Start
                        th(scope='col') Finish
                        th(scope='col')
                        th(scope='col')
                tbody
                    each project, i in projects
                        tr(onclick="window.location.assign('/admin/project/show/" + project._id + "?index="+i+"')")
                            th.align-middle(scope='row') #{i + 1}
                            td.align-middle #{project.title}
                            td.align-middle #{project.category}
                            td.align-middle #{project.period.start}
                            td.align-middle #{project.period.finish}
                            td.align-middle
                                a.text-white.btn.btn-success(href='/admin/project/edit/' + project._id) Edit
                            td.align-middle
                                a.text-white.btn.btn-danger(href='/admin/project/delete/' + project._id) Remove

        a.btn.btn-success(href='/admin/project/add') Add Project