extends layout

block sections
    //About
    section#about.bg-white.t-center
        .about
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title.profile
                                h1.mb-20 Nasreddine Bac Ali
                                h3 Élève Ingénieur
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase À propos de moi
                    p.lead-intro
                        | “ Actuellement élève ingénieur à l'École nationale d'ingénieurs de Sousse. Au moins un an
                        | d'expérience en backend, développement Web et les systèmes intégrés. Super nerd qui
                        | aime la programmation compétitive, Linux et aime donner un coup de main à tous ceux qui ont
                        | besoin d’aide. Intéressé à développer une meilleure méthode de résolution de problèmes pour
                        | les tâches difficiles et à apprendre de nouvelles technologies et de nouveaux outils. “
                    img.signature.mt-20(src='images/public/signature.png', alt='')
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Informations personnelles
                    .row
                        .col-md-8.col-md-offset-3.col-sm-8.col-sm-offset-3
                            .listing.mt-40
                                .listing-inner
                                    .listing-event
                                        ul.data.left
                                            li.emph-1 Nom et prénom
                                            li.emph-1 Date de naissance
                                            li.emph-1 Lieu de naissance
                                            li.emph-1 Nationalité
                                            li.emph-1 État civil
                                        ul.data.right
                                            li Nasreddine Bac Ali
                                            li 21.12.1995
                                            li Mahdia
                                            li Tunsienne
                                            li Célibataire
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Informations de contact
                    .row
                        .col-md-8.col-md-offset-3.col-sm-8.col-sm-offset-3
                            .listing.mt-40
                                a.uppercase.emph-1.btn-1(href='/CV/NasreddineBacAli-CV.pdf', target='_blank') Télécharger mon CV
                                a.uppercase.emph-1.btn-2(href='javascript:window.open("http://www.nasreddinebacali.info/CV/NasreddineBacAli-CV.pdf");') Imprimer mon CV
                                .listing-inner
                                    .listing-event
                                        ul.data.left
                                            li
                                                span.emph-1 Adresse
                                                |  :
                                                br
                                                |                                                             Av. Sidi Abdallah, Qt. °17
                                                br
                                                |                                                             5170 Chebba
                                                br
                                                |                                                             Mahdia - Tunisia
                                        ul.data.right
                                            li
                                                span.emph-1 E-Mail
                                                |  : nasreddine.bacali95@gmail.com
                                            li
                                                span.emph-1 Site Web
                                                |  : www.nasreddinebacali.info
                                            li
                                                span.emph-1 Mobile
                                                |  : +216 95 253 834
                                            li
                                                span.emph-1 Skype
                                                |  : bac_ali3
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 1/4 -
    //Resume
    section#resume.bg-white.t-center
        .resume
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Resumé
                                h5.uppercase Curriculum Vita
                //.block-content.mb-100.pb-10
                //    .row
                //        .col-md-12
                //            .sub-title.mb-40
                //                h2.uppercase Experience
                //    .row
                //        .col-md-12
                //            .timeline
                //                .timeline-inner
                //                    .name
                //                        span.date
                //                            | September 2016
                //                            em Current
                //                        h4 WebDesigner – Mutation Media
                //                    .detail
                //                        p
                //                            | Ut enim ad minim veniam, quis nostrud exerc.
                //                            | Irure dolor in reprehend incididunt labore et dolore magna
                //                            | aliqua.
                //                .timeline-inner
                //                    .name.switched
                //                        span.date August 2015 - June 2016
                //                        h4 Web Developer – Mutation Media
                //                    .detail
                //                        p
                //                            | Ut enim ad minim veniam, quis nostrud exerc.
                //                            | Irure dolor in reprehend incididunt labore et dolore magna
                //                            | aliqua.
                //                .timeline-inner
                //                    .name
                //                        span.date Jannuary 2015 - March 2016
                //                        h4 SDK Developer – Mutation Media
                //                    .detail
                //                        p
                //                            | Ut enim ad minim veniam, quis nostrud exerc.
                //                            | Irure dolor in reprehend incididunt labore et dolore magna
                //                            | aliqua.
                .block-content.mb-100.pb-10
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Éducation
                    .row
                        .col-md-12
                            .timeline
                                .timeline-inner
                                    .name
                                        span.date Septembre 2016 - Juin 2019
                                        h4 Ecole Nationale d'Ingénieurs de Sousse
                                    .detail
                                        p Ingénieur informatique Appliquée
                                        br
                                        br
                                .timeline-inner
                                    .name.switched
                                        span.date Septembre 2014 - Juin 2016
                                        h4 Institut Préparatoire aux Études d'Ingénieur d'El Manar
                                    .detail
                                        p Concours Maths Physique 2016
                                        br
                                        br
                                .timeline-inner
                                    .name
                                        span.date Septembre 2010 - Juin 2014
                                        h4 Lycée Ibn Rochd
                                    .detail
                                        p Baccalauréat Mathématiques 2014
                .block-content.mb-100.pb-30
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase compétences
                    .row
                        .col-md-12
                            .listing-large.mt-40
                                a.uppercase.emph-1.btn-1(href='/CV/NasreddineBacAli-CV.pdf', target='_blank') Télécharger mon CV
                                a.uppercase.emph-1.btn-2(href='javascript:window.open("http://www.nasreddinebacali.info/CV/NasreddineBacAli-CV.pdf");') Imprimer mon CV
                                .listing-large-inner
                                    .listing-event
                                        ul.data.left.clearfix
                                            li
                                                h5 Java
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 JEE
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 C
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 C++
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 .Net
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 C#
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Python
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 NodeJS
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 HTML
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent

                                            li
                                                h5 CSS
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 Photoshop
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                            li
                                                h5 LaTeX
                                                .rating
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span
                                                    span.transparent
                                                    span.transparent
                                                    span.transparent
                                        ul.data.right.clearfix
                                            li
                                                h5 Atouts
                                                p.emph-3
                                                    | Responsable, Diligence, Labeur
                                                    br
                                                    | Rigueur, Créatif, Drôle, Flexible
                                            li
                                                h5 Langues
                                                ul
                                                    li.emph-1
                                                        | Arabe
                                                        span.emph-4 (Parlant couramment)
                                                    li.emph-1
                                                        | Anglais
                                                        span.emph-4 (Notions de base)
                                                    li.emph-1
                                                        | Français
                                                        span.emph-4 (Notions de base)

                                            li
                                                h5 Loisirs & intérêts
                                                ul.hb-list
                                                    li
                                                        span
                                                            i.icon-code-1
                                                        h6 Coding
                                                    li
                                                        span
                                                            i.icon-swimming
                                                        h6 Nager
                                                    li
                                                        span
                                                            i.icon-food
                                                        h6 Pizza
                                                    li
                                                        span
                                                            i.icon-globe-6
                                                        h6 Voyage
                //.block-content.mb-50.pb-30
                //    .row
                //        .col-md-12
                //            .sub-title.mb-40
                //                h2.uppercase Services
                //    .row
                //        .col-md-12
                //            .services.mt-30
                //                .block-service.clearfix
                //                    .col-sm-6.text-center
                //                        .ico.mb-15
                //                            i.icon-thumbs-up-5
                //                        .det
                //                            h5.mb-10 Great Support
                //                    .col-sm-6.text-center
                //                        .ico.mb-15
                //                            i.icon-params
                //                        .det
                //                            h5.mb-10 Development
                //.block-content.mb-100
                //    .row
                //        .col-md-12
                //            .sub-title.mb-40
                //                h2.uppercase testimonials
                //    .row
                //        .col-md-12
                //            .col-md-10.col-md-offset-1
                //                .testi.clearfix
                //                    ul#testimonial-carousel
                //                        li
                //                            .block-quote.t-left
                //                                blockquote
                //                                    | “Lorem ipsum dolor sit amet, consectetur
                //                                    | adipiscing elit, sed do eiusmod
                //                                    | tempor incididunt ut labore et dolore magna aliqua. Ut
                //                                    | enim ad minim veniam,
                //                                    | quis nostrud exercitation ullamco laboris nisi ut
                //                                    | aliquip ex ea commodo consequat.
                //                                    | Duis aute irure dolor in reprehenderit in voluptate
                //                                    | velit esse.”
                //                                h6.block-profile.mt-20
                //                                    | Carlose Anderson
                //                                    span Mutation Media CEO
                //                            .block-img
                //                                img(alt='', src='images/public/testimonial/1.png')
                //                        li
                //                            .block-quote.t-left
                //                                blockquote
                //                                    | “Lorem ipsum dolor sit amet, consectetur
                //                                    | adipiscing elit, sed do eiusmod
                //                                    | tempor incididunt ut labore et dolore magna aliqua. Ut
                //                                    | enim ad minim veniam,
                //                                    | quis nostrud exercitation ullamco laboris nisi ut
                //                                    | aliquip ex ea commodo consequat.
                //                                    | Duis aute irure dolor in reprehenderit in voluptate
                //                                    | velit esse.”
                //                                h6.block-profile.mt-20
                //                                    | Jonathan Anderson
                //                                    span  Mutation Media CEO
                //                            .block-img
                //                                img(alt='', src='images/public/testimonial/2.png')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 2/4 -
    //Portfolio
    section#portfolio.bg-white.t-center
        .portfolio
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Portefeuille
                                h5.uppercase Mes Projets
                .block-content.mb-100
                    .works
                        .row
                            .col-md-12
                                .block-filter.uppercase.mb-40
                                    ul#category.filter
                                        li
                                            a.active(href='#', data-filter='all') all
                                        each category, i in categories
                                            li
                                                a(href='#', data-filter=category.name) #{category.name}
                        .row
                            .col-md-12
                                ul.work
                                    if projects.length === 0
                                        p.mb-200 Comming Soon
                                    each project, i in projects
                                        li.col-sm-6.mb-40
                                            .item(class=project.category)
                                                a(href='/project/' + project._id + '?index=' + i)
                                                    .desc
                                                        h5.proj-desc
                                                            | #{project[language].title}
                                                            span #{project.category}
                                                    img(src='images/uploads/' + project.images[0], alt='')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 3/4 -
    //Contact
    section#contact.bg-white.t-center
        .contact
            .content
                .block-content.mb-100
                    .row
                        .col-md-12
                            .main-title
                                h1.mb-20 Contact
                                h5.uppercase Dis Bonjour
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase emplacement sur la carte
                    .row
                        .col-md-12
                            .block-map
                                #map
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Informations personnelles
                    .row
                        .block-info
                            .col-md-4
                                .info
                                    .ico.mb-20
                                        i.icon-location-7
                                    h5.mb-20 Déposer sur
                                    p
                                        | Nasreddine Bac Ali
                                        br
                                        |  St. Sidi Abdallah, Qt. N°17
                                        br
                                        |  Chebba, Mahdia, Tunisia
                            .col-md-3
                                .info
                                    .ico.mb-20
                                        i.icon-mobile-6
                                    h5.mb-20 Appelle moi
                                    p +216 95 253 834
                                    br
                                    br
                            .col-md-5
                                .info
                                    .ico.mb-20
                                        i.icon-paper-plane-3
                                    h5.mb-20 Connectons
                                    p
                                        | Email :
                                        a(href='mailto:nasreddine.bacali95@gmail.com') nasreddine.bacali95@gmail.com
                                        br
                                        |  Facebook :
                                        a(href='fb.me/nasreddine.bacali') Naseddine Bac Ali
                                        br
                                        |  Skype :
                                        a(href='#') bac_ali3
                .block-content.mb-100
                    .row
                        .col-md-12
                            .sub-title.mb-40
                                h2.uppercase Me joindre ici
                    .row
                        .col-md-12
                            .block-reach
                                form.contact-form(method='post', action='send.php')
                                    .input-columns.clearfix
                                        .column1
                                            .column-inner
                                                input#name(type='text', placeholder='Name', value='', name='name')
                                        .column2
                                            .column-inner
                                                input#email(type='text', placeholder='Email', value='', name='email')
                                        input#subject(type='text', placeholder='Subject', value='', name='subject')
                                        textarea#message(name='message', placeholder='Message', cols='45', rows='7')
                                        input.but.opc.submit(type='submit', value='Submit Form')
                .block-content
                    .row
                        .col-md-12
                            span.page-number.emph-1 - 4/4 -