doctype html
html
    head
        title= title
        // Metas
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(content='telephone=no', name='format-detection')
        // Css
        link(href='../stylesheets/public/bootstrap.css', rel='stylesheet', type='text/css', media='all')
        link(href='../stylesheets/public/base.css', rel='stylesheet', type='text/css', media='all')
        link(href='../stylesheets/public/main.css', rel='stylesheet', type='text/css', media='all')
        link(href='../stylesheets/public/owl-carousel/owl.carousel.css', rel='stylesheet', media='all')
        link(href='../stylesheets/public/owl-carousel/owl.theme.css', rel='stylesheet', media='all')
        link(href='../stylesheets/public/magnific-popup.css', type='text/css', rel='stylesheet', media='all')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,600%7CRoboto+Slab:400,300,700', rel='stylesheet', type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='../stylesheets/public/fontello.css', rel='stylesheet', type='text/css', media='all')
    body
        .loader
            .loader-inner
                .spinner
                    .dot1
                    .dot2
        #wrapper.mb-150.mt-70
            .container
                section#portfolio.bg-white.portfolio.single.pt-20
                    .portfolio
                        .content
                            .row
                                .col-md-12
                                    .block-nav-work
                                        ul
                                            li
                                                a(href='/next/' + Number(Number(index) - 1))
                                                    span
                                                        span.left-arr ←
                                                        | Project Précédant
                                            li
                                                a(href='/#portfolio')
                                                    span Tous Les Projects
                                            li
                                                a(href='/next/' + Number(Number(index) + 1))
                                                    span
                                                        | Project Suivant
                                                        span.right-arr →
                            .row
                                .col-md-12
                                    .main-title.mt-100.t-center
                                        h1.mb-30= project[language].title
                                        h3= project.category
                            .block-content
                                .row
                                    .block-single.mt-80.mb-20.clearfix
                                        .col-sm-10.col-md-offset-1.col-sm-offset-1
                                            h5.mb-10 Description
                                            p!= project[language].description
                                .row
                                    .block-single.mt-10.mb-80.clearfix
                                        .col-sm-5.col-md-offset-1.col-sm-offset-1
                                            h5.mb-10 Type
                                            p.mb-15= project[language].type
                                            if project.repoGithub!=="#"
                                                a(href=project.repoGithub, target='_blank')
                                                    h5 Code
                                                        i.icon-whatsapp(style='font-size:3px; visibility: hidden')
                                                        i.fa.fa-external-link(style='font-size:13px')
                                        .col-sm-5
                                            h5.mb-10 Durée
                                            .row
                                                .col-sm-3
                                                    p De
                                                .col-sm-6
                                                    p= project.period.start
                                            .row
                                                .col-sm-3
                                                    p À
                                                .col-sm-6
                                                    p= project.period.finish

                                .row
                                    .block-single.mb-60.clearfix
                                        ul#block-slider
                                            each image, i in project.images
                                                .col-md-12
                                                    li
                                                        img(src='../images/uploads/' + image, alt='')
                                .row
                                    .block-share.mb-30.t-center.clearfix
                                        .col-md-12
                                            hr
                                            h5.mt-20 Partager ce project
                                            ul.social.mt-20
                                                li
                                                    a(href='https://www.facebook.com/sharer/sharer.php?u=http://www.nasreddinebacali.info/project/' + project._id, target='_blank')
                                                        i.icon-facebook
                                                li
                                                    a(href='https://twitter.com/intent/tweet?text=http://www.nasreddinebacali.info/project/' + project._id, target='_blank')
                                                        i.icon-twitter
                                                li
                                                    a(href='https://www.linkedin.com/shareArticle?url=http://www.nasreddinebacali.info/project/' + project._id + '&title=' + project[language].title, target='_blank')
                                                        i.icon-linkedin

        script(src='../javascripts/public/jquery-1.11.3.min.js', type='text/javascript')
        script(src='../javascripts/public/owl.carousel.js', type='text/javascript')
        script(src='../javascripts/public/jquery.magnific-popup.js', type='text/javascript')
        script(src='../javascripts/public/jquery.easytabs.min.js', type='text/javascript')
        script(src='../javascripts/public/placeholders.min.js', type='text/javascript')
        script(src='../javascripts/public/script.js', type='text/javascript')
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-128575469-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-128575469-1');
