extends ../dashboardLayout

block sub-content
    h1#title.pb-md-4 Edit Certificate
    div#errors.row
        if errors
            ul.error
                li #{errors[0].msg}
    div.pt-sm-2
        form#certificateForm.col-md-12.offset-md-0(method='post', action='/admin/certificate/edit/' + certificate._id)
            div.row.justify-content-center
                div.col-md-6
                    div.row
                        div.col-md-12
                            .form-group
                                input.form-control(name='title', type='text', placeholder='Enter Title', value=certificate.title, required)
                    div.row
                        div.col-md-6
                            div.float-left.ml-1
                                label Category :
                            .form-group
                                select.form-control.dropdown(name='category', required)
                                    each category in categories
                                        if certificate.category === category
                                            option(selected) #{category}
                                        else
                                            option #{category}
                        div.col-md-6
                            div.float-left.ml-1
                                label Date :
                            .form-group
                                input.form-control(name='date', type='month', value=moment(certificate.date.split('-').reverse().join('-')).format("YYYY-MM"), required)
            div.row.justify-content-center
                .form-group.mr-2
                    a#fileSelect.btn.btn-info(style='color: white') Select Images
                    input#files.form-control-file(name='image', type='file', multiple = 'multiple', hidden='true')
                .form-group.mr-2
                    input#images(name='images', type='hidden', value='')
                    input.btn.btn-default(type='submit', value='Submit')
                .form-group
                    a#cancel.btn.btn-danger(href='javascript:history.back()') Cancel
            div#selectedFiles.row
                each image in certificate.images
                    .col-md-4
                        .card.text-center.form-group.border-secondary
                            img.card-img-top(src=image.secure_url)
                            .card-footer
                                a#delete.btn.btn-danger.btn-sm(style='color: white') Delete
