extends ../dashboardLayout

block sub-content
    h1.pb-md-4 Certificates List
    div.row
        if errors
            ul.error
                each error, i in errors
                    li #{error.msg}
    div.pt-sm-2
        div.table-responsive
            table.table.table-striped.table-hover
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Title
                        th(scope='col') Category
                        th(scope='col') Date
                        th(scope='col')
                        th(scope='col')
                tbody
                    each certificate, i in certificates
                        tr(onclick="window.location.assign('/admin/certificate/show/" + certificate._id + "')")
                            th.align-middle(scope='row') #{i + 1}
                            td.align-middle #{certificate.title}
                            td.align-middle #{certificate.category}
                            td.align-middle #{certificate.date}
                            td.align-middle
                                a.text-white.btn.btn-success(href='/admin/certificate/edit/' + certificate._id) Edit
                            td.align-middle
                                a.text-white.btn.btn-danger(href='/admin/certificate/delete/' + certificate._id) Remove

        a.btn.btn-success(href='/admin/certificate/add') Add Certificate